<%- include('partials/header') -%>
    <div class="container-ms">
        <div>
            <div class="row justify-content-center align-items-center">
                <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 my-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-5">
                                <h3 class="card-title">
                                    <i class="fas fa-book-reader"></i>
                                    Courses Page
                                </h3>
                                <h5 class="card-subtitle mb-2 text-muted">Courses will be here</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if(currentUser) { %>
            <div class="row justify-content-center align-items-center">
                <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 my-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-5">
                                <h3 class="card-title">
                                    <i class="fas fa-book-reader"></i>
                                    My Courses
                                </h3>
                                <h5 class="card-subtitle mb-2 text-muted">Your courses will be vivible here.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    <%- include('partials/footer') -%>